<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>notif</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">notif</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>


<ion-toolbar>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button routerLink="/home" routerDirection="root">
                <ion-icon name="home"></ion-icon>
                Inicio
            </ion-tab-button>
            <ion-tab-button routerLink="/services" routerDirection="root">
                <ion-icon name="apps"></ion-icon>
                Servicios
            </ion-tab-button>
            <ion-tab-button routerLink="/notif" routerDirection="root">
                <ion-icon name="reader"></ion-icon>
                Actividad
            </ion-tab-button>
            <ion-tab-button routerLink="/profile" routerDirection="root">
                <ion-icon name="person"></ion-icon>
                Perfil
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>
