<ion-header [translucent]="true" class="ion-no-border">
    <ion-toolbar class="header-banner">
      <ion-title class="ion-text-center">Reiniciar Contraseña</ion-title>
      <ion-buttons slot="end">
        <ion-button color="danger" (click)="logout()" style="--padding-start: 0; --padding-end: 0;">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="reset-password-content">
    <ion-card class="reset-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">¿Olvidaste tu contraseña?</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <form>
          <ion-list>
            <ion-item class="input-item">              
              <ion-icon slot="start" name="mail-outline"></ion-icon>
              <ion-input
                label="Correo Electronico"
                labelPlacement="stacked"
                name="email"
                type="email"
                required
                autocomplete="email"
              ></ion-input>
            </ion-item>
          </ion-list>
  
          <ion-button expand="block" class="reset-button" (click)="resetPassword()">
            <ion-icon slot="start" name="refresh-outline"></ion-icon>
                Enviar enlace de recuperación
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>
  