<ion-header [translucent]="true">
  <ion-toolbar style="background-color: white; position: relative;">
    <!-- Botón de Home en la parte superior izquierda -->
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="goToHome()" style="--padding-start: 0; --padding-end: 0;">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title style="text-align: center;">Reset Password</ion-title>

    <!-- Botón de Logout en la parte superior derecha -->
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()" style="--padding-start: 0; --padding-end: 0;">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="reset-password-container" style="padding: 16px;">
    <ion-card style="box-shadow: none; border: none;">
      <ion-card-header>
        <ion-card-title style="text-align: center;">Reset Your Password</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form>
          <!-- Campo de Nombre de Usuario -->
          <ion-item lines="none">
            <ion-label position="floating">Username</ion-label>
            <ion-input [(ngModel)]="username" name="username" type="text" required></ion-input>
          </ion-item>
          <div style="border-bottom: 1px solid #ccc; margin: 5px 0;"></div> 

          <!-- Campo de Nueva Contraseña -->
          <ion-item lines="none">
            <ion-label position="floating">New Password</ion-label>
            <ion-input [(ngModel)]="password" name="new-password" type="password" maxlength="4" minlength="4" required autocomplete="new-password"></ion-input>
          </ion-item>
          <div style="border-bottom: 1px solid #ccc; margin: 5px 0;"></div>

          <!-- Campo de Confirmación de Contraseña -->
          <ion-item lines="none">
            <ion-label position="floating">Confirm Password</ion-label>
            <ion-input [(ngModel)]="confirmPassword" name="confirm-password" type="password" maxlength="4" minlength="4" required autocomplete="new-password"></ion-input>
          </ion-item>
          <div style="border-bottom: 1px solid #ccc; margin: 5px 0;"></div>

          <!-- Botón de Restablecer Contraseña -->
          <ion-button expand="full" color="primary" type="button" style="margin-top: 20px; --padding-top: 8px; --padding-bottom: 8px;" (click)="resetPassword()">
            Reset Password
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
