.reset-password-content {
  --background: linear-gradient(to bottom, #fff 20%, #87b8d4 100%);
  }
  
  .reset-card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }
  
  .input-item {
    --background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    margin-top: 0.5rem;
  }
  
  .reset-button {
    margin-top: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(33, 150, 243, 0.3);
    font-weight: bold;
  }


  .reset {
    --background: #34a3a9;
    --color: #fff;
  }