.profile-content {
    --background: linear-gradient(to bottom, #fff 20%, #87b8d4 100%);
}

.perfil {
    --background: #34a3a9;
    --color: #fff;
}


.mod-button {
    --background: #201b1b;
    box-shadow: 0 4px 8px rgba(33, 150, 243, 0.3);
}

.guardar-button {
    --background: #201b1b;
    box-shadow: 0 4px 8px rgba(33, 150, 243, 0.3);
}