<ion-header [translucent]="true">
  <ion-toolbar class="header-banner">
    <ion-title>Servicios</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-loading 
    #servicesLoading
    class="custom-loading"
    message="Buscando coincidencias..."
    [duration]="2000"
    spinner="crescent">
  </ion-loading>
  
  <ion-toast 
    *ngIf="showToast" 
    message="Match completado" 
    duration="2000" 
    position="bottom" 
    color="success">
  </ion-toast>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <div class="services-section">
      <h3>Encuentra a alguien para compartir tu viaje</h3>
      <p>Busca personas cercanas que puedan ofrecerte un viaje a tu destino.</p>
    </div>
  
    <ion-button class="find-match-button" expand="full" (click)="findMatches()">Actualizar coincidencias</ion-button>
  
    <ion-alert 
      *ngIf="noMatchesFound"
      header="No se han encontrado coincidencias"
      message="No hay usuarios con vehículos cercanos a tu destino."
      [buttons]="['OK']">
    </ion-alert>
  
    <ion-list>
        <ion-item *ngFor="let match of matches">
          <ion-label>
            <h2>Usuario: {{ match.userName }}</h2>
            <p>Destino: {{ match.passengerDestination1 }}</p>
            <p>Proximidad: {{ match.proximity | number:'1.2-2' }} km</p>
          </ion-label>
          <ion-button 
            *ngIf="!selectedRide || selectedRide.userName !== match.userName" 
            (click)="requestRide(match)" 
            fill="outline" 
            color="primary">
            Solicitar viaje
          </ion-button>
          <ion-button 
            *ngIf="selectedRide && selectedRide.userName === match.userName" 
            fill="solid" 
            color="success" 
            disabled>
            Viaje solicitado
          </ion-button>
        </ion-item>
      </ion-list>
      
  </ion-content>

  <ion-toolbar>
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button routerLink="/home" routerDirection="root">
                <ion-icon name="home"></ion-icon>
                Inicio
            </ion-tab-button>
            <ion-tab-button routerLink="/services" routerDirection="root">
                <ion-icon name="apps"></ion-icon>
                Servicios
            </ion-tab-button>
            <ion-tab-button routerLink="/notif" routerDirection="root">
                <ion-icon name="reader"></ion-icon>
                Historial
            </ion-tab-button>
            <ion-tab-button routerLink="/profile" routerDirection="root">
                <ion-icon name="person"></ion-icon>
                Perfil
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-toolbar>