/* Importar la fuente Roboto desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.login-content {
    --background: linear-gradient(to bottom, #fff 20%, #87b8d4 100%);
  }

  .titulo {
    --background: #34a3a9;
    --color: #fff;
  }
  
  .login-card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }
  
  .login-form {
    padding-top: 1rem;
    text-align: center;
  }
  
  .input-item {
    --background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
    margin-top: 0.5rem;
  }
  
  .login-button {
    --background: linear-gradient(90deg, #34a3a9, #007bff);
    --border-radius: 8px;
    color: white;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
  }
  
  .error-message {
    margin-top: 1rem;
    text-align: center;
    --color: #ff4d4d;
    --background: rgba(255, 77, 77, 0.1);
  }
  
  .forgot-password {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: black;
    text-decoration: underline;
  }

  // Banner superior
.header-banner {
  --background: linear-gradient(90deg, #34a3a9, #007bff);
  --color: #ffffff; // Letras blancas
  text-align: center;
  font-weight: bold;
}

// Animación sutil al cargar la card
.button-card {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}