<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <h1>TeLlevoAPP</h1>
      <h6>Organiza tu transporte fácilmente</h6>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Formulario de login -->
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input
        [(ngModel)]="username"
        name="username"
        type="text"
        maxlength="8"
        minlength="3"
        required
        autofocus
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input
        [(ngModel)]="password"
        name="password"
        type="password"
        maxlength="4"
        minlength="4"
        required
      ></ion-input>
    </ion-item>
  </ion-list>

  <!-- Botón de login -->
  <ion-button expand="block" (click)="validateLogin()">Ingresa</ion-button>

  <!-- Mostrar mensaje de error si existe -->
  <ion-list>
    <ion-item *ngIf="message" color="danger">
      {{ message }}
    </ion-item>
  </ion-list>

  <!-- Enlace para restablecer contraseña -->
  <div class="forgot-password ion-text-center">
    <a [routerLink]="['/reset-password']">Olvidaste tu contraseña?</a>
  </div>
</ion-content>
