<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all">
        <ion-label>Viajes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites">
        <ion-label>Transporte</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- Botón de Cerrar Sesión en la esquina derecha -->
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h3>¡Bienvenido {{username}}!</h3>
  <p>Organiza tu viaje de manera fácil y rápida.</p>
  <ion-toolbar>
    <ion-searchbar class="buscador" show-clear-button="focus" animated="true" placeholder="¿A dónde vas?"></ion-searchbar>
  </ion-toolbar>

  <h3>Sugerencias</h3>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>Destino: San Miguel</ion-card-title>
      <ion-card-subtitle>Hora de partida: 22:10 hrs.</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Viaje grupal de 4 personas a la comuna de San Miguel en auto<br>
      cerca del Paradero 13 Gran Avenida. <br>
      Llegar con 10 minutos de antelación. <br>
      Día Miércoles 28.
      <br>
      <br>
      <ion-button>Unirse</ion-button> <ion-button [disabled]="true">Salir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="home"></ion-icon>
        Inicio
      </ion-tab-button>
      <ion-tab-button tab="apps">
        <ion-icon name="apps"></ion-icon>
        Servicios
      </ion-tab-button>
      <ion-tab-button tab="reader">
        <ion-icon name="reader"></ion-icon>
        Actividad
      </ion-tab-button>
      <ion-tab-button tab="person" routerLink="/profile">
        <ion-icon name="person"></ion-icon>
        Perfil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
